db.sqlite3
__pycache__
*.pyc
err/
lists/tests/tests.py.old
requirements.txt.old
requirements.txt~
superlists/settings.py~
deploy_tools/fabfile.pyc
functional_tests/__pycache__/
__pycache__
*.pyc
db.sqlite3
